<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Pacifico|Didact+Gothic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/sass/style.css">
	<title>Restaurant</title>
</head>
<body>
	
	<%= erb :"/static/navigation" %>
	
	<div class="main clearfix">
		<%= yield %>
	</div>
	<%= erb :"/static/footer" %>


</body>
</html>