<div class="container">
  <h2> Add a New Food</h2>

  <form action="/foods" method="POST">

   <fieldset>
     <legend>Food Information</legend>
     <label for="name">Name</label>
     <input id="name" type="text" name="foods[name]" placeholder="Name"> 
     <label for="category">Category</label>
     <select id="category" name="foods[category]"> 
         <option>Appetizer</option>
         <option>Entree</option>
         <option>Dessert</option>
         <option>Beverage</option>
     </select>
     <label for="price">Price</label>
     <input id="price" type="number" step="0.50" name="foods[price]" placeholder="0.0"> 
     <label for="description">Description</label>
     <textarea id="description" name="foods[description]" placeholder="Food description here..."></textarea>
   </fieldset>

   <br>

   <fieldset>
    <legend>Dietary Restrictions</legend>

     <input name="foods[vegetarian]" type="hidden" value="false" />
     <input id="veggie" name="food[vegetarian]" type="checkbox" value="true" />
     <label for="veggie">Vegetarian</label> <br>

     <input name="foods[gluten_free]" type="hidden" value="false" />
     <input id="gluten" type="checkbox" name="foods[gluten_free]" >
     <label for="gluten">Contains Gluten</label> <br>

     <input name="foods[dairy_free]" type="hidden" value="false" />
     <input id="dairy" type="checkbox" name="foods[dairy_free]" >
     <label for="dairy">Contains Dairy</label> <br>

     <input name="food[nut_free]" type="hidden" value="false" />
     <input id="nut" type="checkbox" name="foods[nut_free]" >
     <label for="nut">Contains Nuts</label> <br>

   </fieldset>
   <input type="submit" value="Submit">
  </form>
</div>